<h1>Ticket Updated</h1>
<p>Hello <%= @user.friendly_name %>,</p>
<p>The following ticket has been updated:</p>
<p>Title: <%= @ticket.title %></p>
<p>Description: <%= @ticket.description %></p>
<p>Thank you,</p>
<p>Your Team</p>
